/*-------Style.css-------*/
.jumbotron {
	padding: 15% 7%;
	margin-top: 50px;
	margin-bottom: 0;
	text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.section-content {
	padding: 5% 15%;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.section-image {
	padding: 12% 7%;
	text-align: center;
	background: yellow;
}

.social-icons {
	width: 35px;
	height: 35px;
}

.section-in-col {
	padding-right: 0;
	padding-left: 0;
}

.position-title {
	text-align: center;
}

#desai-logo {
	width: 225px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

footer {
	color: white;
	text-align: center;
	padding: 40px 0 5px 0;
	background: #4A4A4A;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
}

footer ul {
	text-align: center;
	list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
}

footer ul li {
	display: inline;
}

footer ul li a {
	font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer li a:hover {
	color: white;
}

footer li a:active {
	color: white;
}
